.cursor {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.text-decoration-none {
    text-decoration: none;
}

.bgcolor {
    color: #0652DD;
}

.content {
    display: flex;
    justify-content: space-between;
}